img {
    border-radius: 50%;
    border: 5px solid #563d7c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    max-height: 290px;
    transition: max-height 0.2s ease;
    margin: auto;
}

img:hover {
    max-height: 300px;
}

.main-content {
    text-align: center;
}

.lab-work {
    margin-top: 20px;
}

.lab__name {
    font-style: italic;
    font-weight: 500;
}

.main-image {
    display: flex;
    height: 340px;
}