.navbar {
    &-bg {
        background: $navbar;
    }
}

.header {
    &-info:not(:first-child) {
        margin-left: 10px;
    }

    &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        img {
            height: 30px;
            width: auto;
            margin-right: 7px;
        }

        &__title {
            opacity: 0.8;
        }

        &__location {}

        &__feedback {}

        &__phone {}
    }
}

.products {
    &-top {
        &__items {
            display: flex;
            align-items: center;
            justify-content: center;

            .top-item {
                &>a {
                    color: $blue;
                    text-decoration: none;
                    opacity: .65;
                    display: block;
                    padding: 15px 30px;
                    text-align: center;
                }

                &__image {
                    margin-bottom: 10px;
                }

                &__title {
                    font-style: italic;
                    font-size: 15px;
                }

                &:hover a {
                    opacity: 1;
                    background: $blue--hover;
                }
            }
        }
    }

    .bottom-wrapper {
        background: $orange;
    }

    &-bottom {
        &__items {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 51px;

            .bottom-item {
                &__link {
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    text-transform: uppercase;
                    line-height: 51px;
                    padding: 15px 20px;
                }

                &:hover a {
                    background: $orange--hover;
                }
            }
        }
    }
}

.popular {
    padding-top: 30px;
}

.popular,
.new {
    .section {
        &__title {
            font-size: 35px;
            margin-bottom: 35px;
        }

        &__content {}
    }

    .card {
        &-body {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-title {
            font-size: 16px;
            font-weight: 500;
        }

        &-text {
            font-size: 20px;

            &>span {
                display: block;
                font-size: 14px;
                text-decoration: line-through;
            }
        }
    }
}