<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>База данных библиотеки</title>

    <script>window.$ = window.jQuery = require('jquery');</script>
    
    <link type="text/css" rel="stylesheet" href="../lib/css/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="../lib/css/jsgrid-theme.min.css" />
    <script type="text/javascript" src="../lib/jsgrid.min.js"></script>
    
    <script src="../config/config.js"></script>
</head>

<body>
    <h4>База данных Системы выдачи книг</h4>
    <div id="jsGrid"></div>
    
    <script src="../controllers/data.js"></script>
</body>

</html>