<?php 
    $title = 'Ilya D. | Главная';
    include 'header.php'
?>

%section.main-content.container
    .lab-work.mt-5
        %h4.lab__number Лабораторная работа №5:
        %h5.lab__name 
            "Исследование возможностей ускорения разработки 
            %br/ 
            веб-приложений с использованием HAML"
    .main-image
        %img.main__photo(alt="My photo" src="img/photo-main.jpg")/
    %h1.main__fio Долженко Илья Андреевич
    %h2.main__group ИС-32-о

%script(src="js/jquery-3.4.1.min.js")
%script(src="js/history.js")
%script(src="js/time.js")
%script(src="js/dropdown.js")