$navbar-color: #563d7c;
$calendar-select-color: #b390e9;

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

textarea {
    resize: none;
}

.sticky-top {
    background-color: $navbar-color;

    .nav-link {
        padding-right: 0 !important;
        padding-left: .8rem !important;
    }
}

.dropdown-menu li {
    padding: 0;
}

.pt-6 {
    padding-top: 60px;
}

.content {
    margin-top: 50px;
}

.films,
.music,
.books,
.games,
.race {
    margin-top: 20px;
}

.main{
    &-content {
        text-align: center;
    }

    &-image {
        display: flex;
        height: 340px;
    
        img {
            border-radius: 50%;
            border: 5px solid $navbar-color;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
            max-height: 290px;
            transition: max-height 0.3s ease;
            margin: auto;
    
            &:hover {
                max-height: 310px;
            }
        }
    }
}

.lab {
    margin-top: 3rem;

    &__name {
        font-style: italic;
        font-weight: 500;
        line-height: 1.4em;
    }

    &__number {
        letter-spacing: 2px;
    }
}

.about__title {
    text-align: center;
    margin-bottom: 30px;
}

.list-anchor li {
    padding-left: 8px;
    padding-right: 8px;
}

.place__desc {
    font-size: 17px;
}

.photo__subtitle {
    padding-top: 5px;
    text-align: center;
}

.img-wrapper {
    overflow: hidden;
}

.inner-img {
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.img-elem .photo__subtitle {
    margin-bottom: 20px;
}

.timer {
    font-size: 16px;
    color: white;
}

.menu-link-active {
    color: rgba(255, 255, 255, .95) !important;
}

.result-block {
    margin-top: 8px;

    &__item {
        margin-bottom: 0;
        font-size: 14px;

        &.error {
            color: #f31111;
        }

        &.success {
            color: #01b700;
        }
    }
}

.reviews-block {
    padding-top: 20px;

    &__item {
        margin-bottom: 15px;
    }
}

.posts-block {
    img {
        object-fit: cover;
        height: 100%;
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0cbff;
}

::-webkit-scrollbar-thumb {
    background: $navbar-color;

    &:hover {
        background: #453063;
    }

    &:active {
        background: #382650;
    }
}

::selection {
    background: #ae89e5;
    color: rgb(245, 245, 245);
}

/* PHOTO */

.popup {
    visibility: hidden;
    z-index: 5;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;

    image {
        margin: 30px;
        float: left;
        max-height: 100px;
    }

    &_bg {
        visibility: hidden;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    &_img {
        top: 67px;
        position: relative;
        margin: 0 auto;
        z-index: 2;
        max-height: 85%;
        max-width: 94%;
        margin: 1% 0 0 0;
    }
}

.control-block {
    visibility: hidden;
    color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    text-align: center;
    transform: translate(0%, 85%);
}

#control__title {
    margin: 0 20px;
    font-weight: bold;
    font-size: 24px;
}

.control__btn {
    font-weight: bold;
    font-size: 26px !important;
    width: 55px;
    height: 55px;
    color: white;
    background-color: rgba(#000, 0.4);
    border: none;
    border-radius: 50%;
    font-size: 32px;

    &:hover {
        background-color: rgba(#000, 0.5);
    }

    &:active {
        background-color: rgba(#000, 0.6);
    }

    &:focus {
        outline: 0
    }
}

.unselectable {
    -webkit-user-select: none;
    user-select: none;
}

/* MODAL */

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 100;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
    padding: 20px;
    z-index: 200;

    &__content {
        border-radius: 4px;
        max-width: 400px;
        width: 100%;
        position: relative;
        background-color: #fafafa;
        z-index: 300;
        padding: 50px 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        .btn {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.open-modal-btn {
    cursor: pointer;
}

/* TOOLTIP */

.wy {
    &-tooltip {
        border: 1px solid #F1D031;
        color: #444;
        background: #FFFFA3;
        box-shadow: 0 2px 3px #999;
        position: absolute;
        padding: 5px;
        text-align: left;
        border-radius: 5px;
    }

    &-hide {
        display: none;
    }
}

#edit-dropdown{
    cursor: pointer;

    & > ul {
        .menu-link-active {
            color: rgb(86, 61, 124) !important;
            font-weight: 500;
        }
    }

    &:hover {
        & > ul {
            display: block;
        }
    }
}