* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

.sticky-top .nav-link {
    padding-right: 0 !important;
    padding-left: .8rem !important;
}

.dropdown-menu li {
    padding: 0;
}

.pt-6 {
    padding-top: 60px;
}

.logo {
    max-width: 75px;
}

.content {
    margin-top: 50px;
}

.films, .music, .books, .games, .race {
    margin-top: 20px;
}

.main-image img {
    border-radius: 50%;
    border: 5px solid #563d7c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    max-height: 290px;
    transition: max-height 0.3s ease;
    margin: auto;
}

.main-image img:hover {
    max-height: 310px;
}

.main-content {
    text-align: center;
}

.lab-work {
    margin-top: 20px;
}

.lab__name {
    font-style: italic;
    font-weight: 500;
}

.main-image {
    display: flex;
    height: 340px;
}

.about__title {
    text-align: center;
    margin-bottom: 30px;
}

.list-anchor li {
    padding-left: 8px;
    padding-right: 8px;
}

.place__desc {
    font-size: 17px;
}

.photo__subtitle {
    padding-top: 5px;
    text-align: center;
}

.img-wrapper {
    overflow: hidden;
}

.inner-img {
    transition: 0.3s;
}

.inner-img:hover {
    transform: scale(1.1);
}

.img-elem .photo__subtitle {
    margin-bottom: 20px;
}

.timer {
    font-size: 16px;
    color: white;
}

.menu-link-active {
    color: rgba(255, 255, 255, .95) !important;
}

.calendar-wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 6px;
    visibility: hidden;
    border-radius: .25rem;
    height: auto;
    max-width: 260px;
    width: 100%;
    position: absolute;
    border: 1px solid #ced4da;
    background-color: #f5f5f5;
    margin-top: 2px;
}

.calendar-content {
    text-align: right;
    margin: 0 auto;
}

.calendar-content td {
    background-color: white;
    border: 1px solid #5a5a5a;
}

.calendar-content td:hover {
    background-color: #b390e9;
}

.calendar-content td a {
    padding: 6px;
    color: black;
}

.calendar-content td:hover a {
    color: white;
    text-decoration: none;
}

.calendar-button {
    background-color: white;
    border: 1px solid rgb(160, 160, 160);
    font-size: 15px;
    margin-left: 5px;
    padding: 0px 10px;
}

.calendar-button:hover {
    border-color: rgb(105, 105, 105);
}

.select-day {
    color: white !important;
}

.select-day-bg {
    background-color: #b390e9 !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e0cbff;
}

::-webkit-scrollbar-thumb {
    background: #563d7c;
}

::-webkit-scrollbar-thumb:hover {
    background: #453063;
}

::-webkit-scrollbar-thumb:active {
    background: #382650;
}